/* Fonts */
@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'LeagueSpartan';
    font-weight: 900;
    src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'LeagueSpartan';
    font-weight: 900;
    src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Black.ttf) format('opentype');
}

html, body, span, div, h1, h2, h3, h4, section, p {
  font-family: 'LeagueSpartan', sans-serif, Arial;
}

.title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
}

/* /Header/ */ 
.header{
  position: relative;
}
header{
  z-index: 1;

}
section.main-image-video-bg{
  margin-top: -75px;
  z-index: 2;
}
/* Logo */
.logo-pem-or-text{
  width: 200px;
}

.logo-pem-or-text img{
  height: 75px;
  overflow: hidden;
}

.logo-pem-or-text  h1{
  height: 50px;
  padding-top: 25px;
}

.logo-pem-or-text h1 a, .logo-pem-or-text h1 a:link{
  text-decoration: none;
  color: #cecece;
}
/* Nav */
nav {
  font-family: 'League Spartan', sans-serif;
  
}
nav ul li{
  margin-right: 20px;
  float: left;
  height: 50px;
  padding-top: 25px;
  text-transform: uppercase;
}
nav ul li a{
  text-decoration: none;
  color: #000000;
}
nav ul li a:hover, nav ul li a:link{
  color: #fff;
}

/* Search Form */



/* /Main Image or Video Background/ */ 
.main-image-video-bg{
  background-color: #1a73e8;
  height: 400px;
  padding-top: 75px;
}


/* Carousel */
.teaching-container h1{
  font-size: 50px;
}
.teaching-container{
  border-top: 0.5px solid #FCFDFD;
}

.teaching-slider{
  background: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  border: 2px solid transparent;
  border-radius: 8px;
  border: 1px solid #dae1e8;
}

.teaching-container .title{
    margin-bottom: 45px;
}

/* Footer */
.main-footer{
  background: rgba(0,0,0,0.32);
}
.newsletter-pem{
  background: #FCFDFD;
  border-bottom: #cecece 1px solid;
}
.newsletter-pem h3{
  margin: 48px 0 24px;
  font: 400 20px/28px;
  text-transform: uppercase;
}
.newsletter-pem h4, .widget-block .title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
}
.newsletter-pem p{
  line-height: 20px;
  font-size: 1em;
}
.footer-widget {
  padding: 10px;
}
.widget-block{
  width: 300px;
  padding: 30px;
}
.pem-social-icons li a{
  font-size: 30px;
  color: #FFF;
}

.pem-social-icons li:first-child a:hover {
  color: #4267B2  ;
  transition: 0.5s ease-in-out color;
}
.pem-social-icons li:nth-child(2) a:hover {
  color: #1DA1F2;
  transition: 0.5s ease-in-out color;
}
.pem-social-icons li:nth-child(3) a:hover {
  color: #F56040;
  transition: 0.5s ease-in-out color;
}

.pem-social-icons li:nth-child(4) a:hover {
  color: #FF0000;
  transition: 0.5s ease-in-out color;
}
.pem-copyright{
  background: #282828;
}
.footer-info{
  padding: 15px;
}
.footer-info a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}
.footer-info ul li{
  height: 5px;
}
.footer-info ul li:not(:first-child)  a::before {
  content: ".";
  display: inline-block;
  width: 15px;
  height: 15px;
  font-weight: 900;
  font-size: 15px;
  align-items: center;
}
