/* Fonts */
@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'LeagueSpartan';
    font-weight: 900;
    src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'LeagueSpartan';
    font-weight: 900;
    src: local('LeagueSpartan'), url(./assets/fonts/League_Spartan/LeagueSpartan-Black.ttf) format('opentype');
}

html, body, span, div, h1, h2, h3, h4, section, p {
  font-family: 'LeagueSpartan', sans-serif, Arial;
}

.title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
}

h2.title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 0 0 #cecece, 0 -1px 0 #cecece, 0 1px 0 #001, -1px 0 0 #cecece;

}

/* /Header/ */ 
.header{
  position: relative;
}
header{
  z-index: 1;

}
section.main-image-video-bg{
  margin-top: -75px;
  z-index: 2;
}
/* Logo */
.logo-pem-or-text{
  width: 200px;
}

.logo-pem-or-text img{
  height: 75px;
  overflow: hidden;
}

.logo-pem-or-text  h1{
  height: 50px;
  padding-top: 25px;
}

.logo-pem-or-text h1 a, .logo-pem-or-text h1 a:link{
  text-decoration: none;
  color: #cecece;
}
/* Nav */
nav {
  font-family: 'League Spartan', sans-serif;
  
}
nav ul li{
  margin-right: 20px;
  float: left;
  height: 50px;
  padding-top: 25px;
  text-transform: uppercase;
}
nav ul li a{
  text-decoration: none;
  color: #000000;
}
nav ul li a:hover, nav ul li a:link{
  color: #fff;
}

/* Search Form */


/* Display Event Block */
.d-block{
  display: inline-flex;
  justify-content: center;
}
.d-block-elt{
  height: auto;
  width: 200px;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  background: #EFEFF4;
}
.d-block-elt h4{
  font-weight: 800;
}

.d-block{
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(224,224,224,1);
  border-radius: 8px;
  padding: 15px 30px;
  position: absolute;
  height: 80px;
  width: 600px;
  top: 48%;
  left: 25%;
}

/* /Main Image or Video Background/ */ 
.main-image-video-bg{
  height: 400px;
  overflow: hidden;
  padding-top: 75px;
}

/* / Church Services / */
.church_services h1.title {
  visibility: hidden;
}
.church_services{
  background: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  border-bottom : 1px solid rgba(224,224,224,0.5);
  box-shadow: 0 1px 1px -1px rgba(224,224,224,1);
}
.church_services div.feat_icon{
  display: flex;
  justify-content: center;
  
}
.church_services .block img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  text-align: center;
  
}
.church_services a, .church_services a:hover, .church_services a:visited{
  text-decoration: none;
  text-align: center;
  color: #000;
  line-height: 1.5em;
}
.church_services div.feat_text{
  display: flex;
  justify-content: center;
}


/* Teaching */
.teaching-container h1, .church_life h1{
  font-size: 50px;
}
.teaching-container .title{
    margin-bottom: 45px;
}
.left-arrow, .right-arrow{
  font-size: 50px;
}
.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -110px;
  display: flex;
  flex-direction: column;
}
.slider nav{
  background: #FCFDFD;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 74.5%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.slider nav ul{
  height: 80px;
}
.slider nav ul{
  border-bottom: 1px solid #cecece;
}
.slider nav ul li a:hover{
  padding-bottom: 35px;
  border-bottom: 3px #1a73e8 solid;
 

}
.slider nav ul li a{
  text-transform: none;
  color: rgba(117,117,117,0.5);
  text-transform: uppercase;
  font-weight: 900;
}
.slider nav ul li a:hover{
  color: rgba(33,33,33,1);
}
.slider-image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.slide-title h2{
  color: #fff;
  font-family: 'League Spartan', sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  text-shadow:  0 0 4px rgba(158,158,158,1)
}
span.slide-title{
  position: absolute;
  top: 45%;
  left: 100px;
  width: 680px;
  overflow: hidden;
  height: 150px;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.church_life{
    padding-top: 30px;
}

.church_life .block img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  border: 1px solid #dae1e8;
}
.church_life , .church_life h1{
  display: flex;
  justify-content: center;
  
}

.church_life h1{
  margin-bottom: 20px;
}



/* Footer */
.main-footer{
  background: rgba(0,0,0,0.32);
}
.newsletter-pem{
  background: #FCFDFD;
  border-bottom: #cecece 1px solid;
}
.newsletter-pem h3{
  margin: 48px 0 24px;
  font: 400 20px/28px;
  text-transform: uppercase;
}
.newsletter-pem h4, .widget-block .title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
}
.newsletter-pem p{
  line-height: 20px;
  font-size: 1em;
}
.footer-widget {
  padding: 10px;
}
.widget-block{
  width: 300px;
  padding: 30px;
}
.pem-social-icons li a{
  font-size: 30px;
  color: #FFF;
}

.pem-social-icons li:first-child a:hover {
  color: #4267B2  ;
  transition: 0.5s ease-in-out color;
}
.pem-social-icons li:nth-child(2) a:hover {
  color: #1DA1F2;
  transition: 0.5s ease-in-out color;
}
.pem-social-icons li:nth-child(3) a:hover {
  color: #F56040;
  transition: 0.5s ease-in-out color;
}

.pem-social-icons li:nth-child(4) a:hover {
  color: #FF0000;
  transition: 0.5s ease-in-out color;
}
.pem-copyright{
  background: #282828;
}
.footer-info{
  padding: 15px;
}
.footer-info a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}
.footer-info ul li{
  height: 5px;
}
.footer-info ul li:not(:first-child)  a::before {
  content: ".";
  display: inline-block;
  width: 15px;
  height: 15px;
  font-weight: 900;
  font-size: 15px;
  align-items: center;
}




